:root{
    /*-------------------------
        MAIN COLORS
    -------------------------*/
    --primary-color: #24333d;
    --secondary-color: #39c4c6;
    --tertiary-color: #e3e7df;
    --font-color: #b5c0c1;
}