:root{
    /*-------------------------
        DEFAULT
    -------------------------*/
    li {
        list-style: none;
    }

    /*-------------------------
        COMMONS
    -------------------------*/
    .first-hero {
        background-image: url(/src/assets/img/hero-image.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }
    .first-hero::before {
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: 600px;
        background-color: rgba(0,0,0,0.7);
    }
   
    /*-------------------------
        ICONS
    -------------------------*/
    .white-icon{
        color: white;
        font-size: 12px;
        width: 100%;
    }

}